<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<h:form>
		<h1 class="h3 mb-3 font-weight-normal">Digite o título do texto:</h1>
			<h:inputText name="nome" value="#{UsuarioBean.nome}" class="form-control" placeholder="Nome Usuario"/>
			<br/>
			<h1 class="h3 mb-3 font-weight-normal">Digite o texto:</h1>
			<h:inputText name="senha" value="#{UsuarioBean.senha}" class="form-control" placeholder="Senha"/>
			<br/>
		<h:commandButton class="btn btn-lg btn-primary btn-block" action="#{UsuarioBean.inserir()}" value="Cadastrar"/>
	</h:form>

</html>
