<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">


<head>
	<title>Edição de texto</title>
	<link rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../css/style.css"/>
</head>


<body>
	
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

  		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item">
        			<a class="nav-link" href="texto.xhtml">Textos</a>
      			</li>
    		</ul>
  		</div>
	</nav>
	
	<f:metadata>
		<f:event listener="#{TextoBean.carregarId(param['id'])}" type ="preRenderView"> </f:event>
	</f:metadata>
	<h1>Editar Texto</h1>
	
	<div class="jumbotron">
    	<div class="container">
      		<h1 class="display-3">Edição Texto</h1>
    	</div>
  	</div>
	
	<style>
			.form-signin {
			  width: 100%;
			  max-width: 330px;
			  padding: 15px;
			  margin: auto;
			}
			.form-signin .form-control {
			  position: relative;
			  box-sizing: border-box;
			  height: auto;
			  padding: 10px;
			  font-size: 16px;
			}
			.form-signin .form-control:focus {
			  z-index: 2;
			}
		</style>
	
		<center>
		
		<f:metadata>
			<f:event listener="#{TextoBean.carregarId(param['id'])}" type ="preRenderView"> </f:event>
		</f:metadata>
		
				<h:form class="form-signin">
					<h:inputHidden id="id" value="#{TextoBean.id}"/>
					<h1 class="h3 mb-3 font-weight-normal">Digite o novo título:</h1>
					<h:inputText name="titulo" value="#{TextoBean.titulo}" class="form-control" id="titulo"/>
					<br/>
					<h1 class="h3 mb-3 font-weight-normal">Digite o novo texto:</h1>
					<h:inputText name="texto" value="#{TextoBean.texto}" class="form-control" id="texto"/>
					<br/>
					<h:commandButton class="btn btn-lg btn-primary btn-block" action="#{TextoBean.editar}" value="Editar"/>
				
				</h:form>
		</center>
		
	
</body>

</html>