<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">


<head>
	<title>Edite a imagem</title>
	<link rel="stylesheet" href="../css/style.css"/>
	<link rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap.min.css"/>
</head>


<body class="body-back">
	<div id="menu">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarNav">
		    	<ul class="navbar-nav">
		      		<li class="nav-item active">
		        		<a class="nav-link" href="imagens.xhtml">Imagens</a>
		      		</li>
		    	</ul>
		  </div>
		</nav>
		<center>
			<f:metadata>
				<f:event listener="#{ImagemBean.carregarId(param['id'])}" type ="preRenderView"> </f:event>
			</f:metadata>
			<h1>Editar Imagem</h1>
			<h:form enctype="multipart/form-data">
				<h:inputHidden id="id" value="#{ImagemBean.id}"/>
				<h4>Título:</h4> 
				<h:inputText value="#{ImagemBean.titulo}" name="titulo" id="titulo"/>
				<br/>
				<h:inputFile value="#{ImagemBean.imagem}"></h:inputFile>
				<h:commandButton class="btn btn-primary" action="#{ImagemBean.editar}" value="Editar"/>
			</h:form>
		</center>
	</div>
</body>

</html>