<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
	<title>Imagens</title>
	<link rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../css/style.css"/>

</head>

<body>
	
 	
 	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  		<h:panelGroup rendered="#UsuarioBean.logado==false">
  			<a class="navbar-brand" href="index.xhtml">Home</a>
	  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
  		</h:panelGroup>

  		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item">
        			<a class="nav-link" href="texto.xhtml">Textos</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="imagem.xhtml">Imagens</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="video.xhtml">Vídeos</a>
      			</li>
      			<li class="nav-item">
	        			<a class="nav-link" href="sair.xhtml">Deslogar</a>
	      			</li>
    		</ul>
  		</div>
	</nav>
	
	<div class="jumbotron">
    	<div class="container">
      		<h1 class="display-3">Imagens</h1>
    	</div>
  	</div>
  	
  	<style>
			.form-signin {
			  width: 100%;
			  max-width: 330px;
			  padding: 15px;
			  margin: auto;
			}
			.form-signin .form-control {
			  position: relative;
			  box-sizing: border-box;
			  height: auto;
			  padding: 10px;
			  font-size: 16px;
			}
			.form-signin .form-control:focus {
			  z-index: 2;
			}
		</style>
	
	<center>
			<h:form class="form-signin" enctype="multipart/form-data">
			<h1 class="h3 mb-3 font-weight-normal">Digite o título da imagem:</h1>
			<h:inputText value="#{ImagemBean.titulo}" name="tituloVideo" class="form-control" placeholder="Título"/>
			<br/>
			<h1 class="h3 mb-3 font-weight-normal">Selecione a imagem:</h1>	
			<h:inputFile name="" value="#{ImagemBean.imagem}" class="form-control" placeholder="Imagem"/>
			<br/>
			
			<h:commandButton class="btn btn-lg btn-primary btn-block" action="#{ImagemBean.inserir()}" value="Enviar" />
		</h:form>
		</center>

		<br/>
		<main role="main" class="container">
			<ui:repeat var="imagem" value="#{ImagemBean.getLista()}">
	  			<div class="jumbotron">
					<center>
	    			<h1>#{imagem.titulo}</h1>
	    			<p class="lead"><img src="../#{imagem.imagem}" height="300" width="300" /></p>
	    			<h:form>
	    				<h:commandLink class="btn btn-secondary" value="Excluir" action="#{ImagemBean.remover(imagem)}"></h:commandLink>
	    				<a  href="editImg.xhtml?id=#{imagem.id}">Editar</a>
	  				</h:form>
	  				</center>
	  			</div>
	  		</ui:repeat>
		</main>
	
</body>
</html>