<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
	<title>Textos</title>
	<link rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../css/style.css"/>
	
 
</head>

<body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	
 

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  		<h:panelGroup rendered="#UsuarioBean.logado==false">
  			<a class="navbar-brand" href="index.xhtml">Home</a>
	  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
  		</h:panelGroup>

	  		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
	    		<ul class="navbar-nav mr-auto">
	      			<li class="nav-item">
	        			<a class="nav-link" href="texto.xhtml">Textos</a>
	      			</li>
	      			<li class="nav-item">
	        			<a class="nav-link" href="imagem.xhtml">Imagens</a>
	      			</li>
	      			<li class="nav-item">
	        			<a class="nav-link" href="video.xhtml">Vídeos</a>
	      			</li>
	      			<li class="nav-item">
		        		<a class="nav-link" href="sair.xhtml">Deslogar</a>
		      		</li>
	    		</ul>
	    	
	  		</div>
	</nav>
	
	<div class="jumbotron">
    	<div class="container">
      		<h1 class="display-3">Textos</h1>
    	</div>
  	</div>
  	
  	<style>
			.form-signin {
			  width: 100%;
			  max-width: 330px;
			  padding: 15px;
			  margin: auto;
			}
			.form-signin .form-control {
			  position: relative;
			  box-sizing: border-box;
			  height: auto;
			  padding: 10px;
			  font-size: 16px;
			}
			.form-signin .form-control:focus {
			  z-index: 2;
			}
		</style>
	
		<center>
				<h:form class="form-signin">
	
					<h1 class="h3 mb-3 font-weight-normal">Digite o título do texto:</h1>
					<h:inputText name="titulo" value="#{TextoBean.titulo}" class="form-control" placeholder="Título"/>
					<br/>
					<h1 class="h3 mb-3 font-weight-normal">Digite o texto:</h1>
					<h:inputText name="texto" value="#{TextoBean.texto}" class="form-control" placeholder="Texto"/>
					<br/>
					<h:commandButton class="btn btn-lg btn-primary btn-block" action="#{TextoBean.inserir()}" value="Enviar" />
				
				</h:form>
		</center>
		
		
		<br/>
		<main role="main" class="container">
			<ui:repeat var="texto" value="#{TextoBean.getLista()}">
	  			<div class="jumbotron">
	    			<h1>#{texto.titulo}</h1>
	    			<p class="lead">#{texto.texto}</p>
	    			<h:form>
	    				<h:commandLink class="btn btn-secondary" value="Excluir" action="#{TextoBean.remover(texto)}"></h:commandLink>
	    				<a  href="editText.xhtml?id=#{texto.id}">Editar</a>
	  				</h:form>
	  			</div>
	  		</ui:repeat>
		</main>
		
</body>
</html>
